---
layout: base.njk
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {# Our styles #}
    <link rel="stylesheet" href="/css/article.css" />
    <link rel="stylesheet" href="/css/a.css" />

    {# Inter #}
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet" />

    {# Font awesome #}
    <script
      src="https://kit.fontawesome.com/c55bdc3f82.js"
      crossorigin="anonymous"
    ></script>

    {# KaTeX #}
    <link
      rel="stylesheet"
      href="https://unpkg.com/katex@latest/dist/katex.min.css" />
  </head>

  <body>
    <main>
      <div id="article-container">
        {{ content | safe }}
      </div>
    </main>
  </body>
</html>
