<base href="/">
<link rel="icon" href="images/favicon.svg" />
<title>{{ title }}</title>

<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ url }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="https://spotify-artist-map.netlify.app/images/favicon.png" />

{{ content | safe }}
