---
layout: article_layout.njk
title: Spotify artist map
url: https://spotify-artist-map.netlify.app
description: An interactive, explorable map of 2,500 Spotify artists.
---

<div class="writing">
  {% renderFile "writing.md" %}

  <p>
    <i>You can also open the visualization in a
      <a href="/interactive">
        new window <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
    </i>
  </p>
</div>

<div id="visualization-container">
  {% include "interactive/component.html" %}
</div>

<div style="height: 5rem">
</div>
