---
layout: base
title: Spotify artist map (interactive)
url: https://spotify-artist-map.netlify.app/interactive
description: An interactive, explorable map of 2,500 Spotify artists. Fullscreen mode!
---

{% include "interactive/component.html" %}

<style>
  html {
    overflow: hidden;
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
  }
</style>
